@mixin border-radius ($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate ($degree){
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -o-transform: rotate($degree);
  -ms-transform: rotate($degree);
  transform: rotate($degree);
}

// @mixin breakpoint ($device){
//   @media(max-width: ($device)){
//     @content;
//   }
// }

// ------------- Responsive (mobile first)
// Tablet and more
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desctop {
  @media (min-width: $desctop) {
    @content;
  }
}




//@mixin material-icons-btn() {
//  .material-icons;
//  margin-top: 15px;
//}