@import "variables.scss";
@import "normalize.scss";
@import "materialize-min";
@import "mixins.scss";
@import "template.scss";
@import "fonts.scss";


.hide {display: none;}
//============================================================= HEADER



body {
  font: 10px sans-serif;
}

.linage {
  fill: none;
  stroke: #000;
}

.marriage {
  fill: none;
  stroke: black;
}

.man {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
}

.woman {
  background-color: pink;
  border-style: solid;
  border-width: 1px;
}

.emphasis {
  font-style: italic;
}

p {
  padding: 0;
  margin: 0;
}

.selected {
  border: 3px solid #f00;
}

//------------------------ Controls --------------------------
#add-new {
  position: absolute;
    right: 60px;
    bottom: 0px;
}

.modal {
  max-width: 600px;
}

/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* Only mobile */
// @media(max-width: ($breakpoint_lg - 1)){

// }