@import "variables.scss";
@import "normalize.scss";
@import "materialize-min";
@import "mixins.scss";
@import "template.scss";
@import "fonts.scss";


.hidden {display: none;}
//============================================================= HEADER



body {
  font: 10px sans-serif;
}

.linage {
  fill: none;
  stroke: #000;
}

.marriage {
  fill: none;
  stroke: black;
}

.man {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
}

.woman {
  background-color: pink;
  border-style: solid;
  border-width: 1px;
}

.emphasis {
  font-style: italic;
}


//------------------------ Controls --------------------------
#add-new {
  position: absolute;
    right: 60px;
    bottom: 0px;
}

.modal {
  max-width: 600px;
}

//------------------------ Node template --------------------------
.man > div, .woman > div {
  display: flex;
  align-items: center;
  text-align: center;

  .photo {
    height: 40px;
    width: 40px;

    img {
      display: block;
      height: 40px;
      width: 40px;
      object-fit: cover;
    }
  }
  .nodeText, .emphasis {
    width: 155px;
    padding: 5px 10px;
  }
}

//------------------------ Node link point --------------------------
.link-points {
  position: absolute;
  width: 10px;
  height: 10px;
  display: none;
  border: 1px solid #f00;
}
.top-point {
  top: -10px;
  left: 50%;
}
.right-point {
  right: -10px;
}
.bottom-point {
  bottom: -10px;
  left: 50%;
}
.left-point {
  left: -10px;
}
.selected {
  //display: block;
  border: 2px solid #f00;
}
.visible {
  display: block;
}
/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* Only mobile */
// @media(max-width: ($breakpoint_lg - 1)){

// }