$color-link: #1d1d1d; /* a */
$color-one: #26a69a;  /* footer border */
$color-two: #f9a217;
$color-three: #54abd6;
$color-four: #53c3d1;
$border-gray: #ccc;
$text-gray: #9d9d9d;
$text-small: 0.8rem;

//#e0e0e0

@import "normalize.scss";
@import "materialize-min";
@import "mixins.scss";
@import "template.scss";
@import "fonts.scss";


.container {
  #graph {
    svg {
      border: 1px solid $border-gray;
    }
  }
}


.hide {display: none;}
//============================================================= HEADER

body {
  font: 10px sans-serif;
}

.linage {
  fill: none;
  stroke: #000;
}

.marriage {
  fill: none;
  stroke: black;
}

.man {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
}

.woman {
  background-color: pink;
  border-style: solid;
  border-width: 1px;
}

.emphasis {
  font-style: italic;
}

p {
  padding: 0;
  margin: 0;
}



.selected {
  border: 3px solid #f00;
}

//------------------------ Controls --------------------------
#add-new {
  position: absolute;
    right: 60px;
    bottom: 0px;
}