.tree-container {
  width: 100%;

  #graph {
    border: 1px solid #f00;
    display: block;
    margin: 0 auto;



    @include tablet {
      border: 2px solid #0f0;
    }
    @include desctop {
      border: 2px solid #00f;
    }

    svg {
      border: 1px solid $border-gray;


      // @include breakpoint($tablet){
      //   border: 2px solid #0f0;
      // }




    }
  }
}