$color-link: #1d1d1d; /* a */
$color-one: #26a69a;  /* footer border */
$color-two: #f9a217;
$color-three: #54abd6;
$color-four: #53c3d1;
$border-gray: #ccc;
$text-gray: #9d9d9d;
$text-small: 0.8rem;

// Responsive (mobile first)
// XS: 480px | SM: 768px | MD: 992px | LG: 1200px
// --------------------------------------------------
$tablet: 768px;
$desctop: 1200px;

//#e0e0e0

